@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 40px auto;

    animation: App-logo-spin infinite 5s alternate linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(-60deg);
  }
}
