body {
  animation: bg-anim 15s ease infinite;
  background-image: linear-gradient(-45deg, #f4f8fc, #e1fdff, #089193, #1ca3cd);
  background-size: 400% 400%;
  max-width: 700px;
  margin: 0 auto;
}

@keyframes bg-anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: #052a1a;
}
a:hover {
  color: #1d8e64;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 40px auto;

    animation: App-logo-spin infinite 5s alternate linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(-60deg);
  }
}
