@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;

    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
