.Phonetics {
  margin-bottom: 20px;
}
.Phonetics a {
  text-decoration: none;
  font-size: 17px;
  margin-right: 10px;
  transition: all 150ms ease-in-out;
  color: rgb(9, 86, 72);
}
.Phonetics a:hover {
  color: rgb(2, 128, 105);
}
.Phonetics audio {
  border-radius: 90px;
  width: 100px;
  height: 25px;
  margin-right: 10px;
}
.Phonetics .pronoun {
  position: relative;
  top: -7px;
}
